Repository webgme/webgme, pull requests merged in 2019-03, with the labels that each got.

#1670 Drawer for viewing and aborting running plugins
  config/componentsGenericUIDefaults.json
  package-lock.json
  package.json
  src/client/js/Dialogs/PluginConfig/PluginConfigDialog.js
  src/client/js/Panels/FooterControls/FooterControlsPanel.js
  src/client/js/Panels/Header/PluginToolbar.js
  src/client/js/RunningPluginsDrawer/RunningPluginsDrawer.js
  src/client/js/RunningPluginsDrawer/styles/RunningPluginsDrawer.css
  src/client/js/RunningPluginsDrawer/styles/RunningPluginsDrawer.scss
  src/client/js/RunningPluginsDrawer/templates/Entry.html
  src/client/js/Widgets/RunningPluginsDrawerButtonWidget/RunningPluginsDrawerButtonWidget.js
Labels: Minor, New feature, Plugin, UX/UI

#1671 Add option to display Connections as boxes in addition to edges
  src/client/js/Panels/ModelEditor/ModelEditorControl.DiagramDesignerWidgetEventHandlers.js
  src/client/js/Panels/ModelEditor/ModelEditorControl.js
  src/client/js/Panels/PropertyEditor/PropertyEditorPanelController.js
  src/client/js/RegistryKeys.js
  src/client/js/Utils/GMEVisualConcepts.js
  src/client/js/Widgets/DiagramDesigner/DiagramDesignerWidget.Connections.js
Labels: Minor, ModelEditor, New feature

#1674 Enable users to logout/login from sticky projects dialog
  src/client/js/Dialogs/Projects/ProjectsDialog.js
  src/client/js/Dialogs/Projects/styles/ProjectsDialog.css
  src/client/js/Dialogs/Projects/styles/ProjectsDialog.scss
Labels: Auth, Enhancement, Minor
